﻿@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*général*/
html {
	background-image : url("img/fond_background.jpg");
}

body {
	width : 1300px;
	margin : 50px auto;
}

a {
	text-decoration : none;
}

.clear {
	clear : both;
}

.mainbody {
	margin : 10px 0;
	padding : 10px;
}

header, .mainbody, footer {
	background : rgba(255,125,0,.8);
}

.gradback {
	padding : 10px;
}

h1, h2, h3 {
	font-family : 'Roboto-Regular','Arial',sans-serif;
}

p, .copyright {
	font-family : Verdana;
	font-size : 20px;
}

a {
    font-size : 15px;
}

h1, h2, h3, p, .copyright, a:hover {
	color : #000;
}/*fixe la couleur pour la majorité des éléments texte du site*/

h1 {
	font-size : 40px;
}

h2 {
	font-size : 35px;
}

h3 {
	font-size : 30px;
}

a:hover, #addressperso {
		font-style : italic;
}

/*header*/

a {
	color : #28E8E2;
}

a:hover {
	text-decoration : underline;
}

.actualpage {
	text-decoration : underline;
}


.servicetitle, .worktitle {
	padding-left : 70px;
}

.logoperso {
	margin : 50px 0 0 0;
}

.headerlink {
	margin-top : -20px;
}

/*navigation*/

nav {
  float: left;
  }

nav ul li {
  display: inline;
  padding-left: 20px;
  }

/*section*/

.imgsong, .songmix, .welcomeweb, .welcomeinfo, .servtext, .contacttext, #adjust {
	position : relative;
}/*pour changer position et mieux placer les différents éléments*/

.servimg {
    margin-left : auto;
    margin-right : auto;
}

.imgsong {
	z-index : 1;
}

.songmix {
	z-index : 2;
}

.welcomepictures {
	margin-left : 10px;
}

.servtext {
	left : -81px;
	top : -15px;
}

.amsterdampos {
	margin-left : -32px;
}

.songmix {
	width : 200px;
	height : 32px;
	margin-left : -70px;
	margin-top : -1px;
}

.imgsong {
	left : -70px;
	margin-bottom : -35.5px;
}

.panxyb {
	margin-left : -50px;
}

.titlexyb, .titlesong, .titlecv {
	margin-left : 40px;
}

.pleastravtitle {
    margin-left : 92px;
}

.contacttext, .goomap {
	margin-top : 15px;
}

.pacman {
	width : 150px;
	height : 225px;
}

.cvanim {
	width: 300px;
	height : 311px;
	margin-top : -44px;
}

.padtext {
	padding : 0 10px;
}

.contacttext {
	top : -20px;
}

#adjust {
	top : 8px;
}/*pour ajuster la position de la dernière phrase du bloc de texte central de la page contact*/

.centerText {
    text-align : center;
}


/*form*/

#contact_form {
  margin-left : -50px;
  margin-top : 0;
  float : left;
  padding : 0 0 0 10px;
  width : 300px;
  }
  
#contact_form ul {
  margin : 0;
  }
  
#contact_form li {
  float : left;
  margin-left : 0;
  margin-top : 10px;
  color: #000;
  font-size : 12px;
  list-style-type : none;
  text-shadow : 0 0.5px 0 #fff;
  }
  
#contact_form label {
  display : block;
  height : 23px;
  }
  
#contact_form li.button_form {
  float : left;
  margin-bottom : 30px;
  position : relative;
  height : 20px;
  list-style-type : none;
  }
  
#contact_form input,textarea {
  width : 300px;
  color: #fff;
  border : 1px solid #fff;
  background : #DF272A;
  }
  
#contact_form input.submit {
  margin : 20px 10px 0 0;
  float : left;
  width: 100px;
  height : 30px;
  padding : 4px 0 6px;
  border : 2px solid #ccc;
  background : #DF272A  repeat;
  color : #28E8E2;
  line-height : 1;
  text-align : center;
  text-shadow : 0 1px 1px #555;
  font-family : 'Cormorant-Regular',Arial,sans-serif;
  font-size : 11px;
  }
  
#contact_form input.submit:hover {
  text-shadow : 0 1px 1px #555;
  color : #fff;
  background : #39B54A;
  }
  
#contact_form .required {
  color : #e25d33;
  font-size : 1.2em;
  }

/*footer*/

footer {
	margin : 10px 0;
	padding : 10px 0 10px 0;
	width : 1300px;
	height : 20px;
}

.copyright {
	float : right;
}

/*colonnes*/

.col {
	float : left;
	margin-right : 20px;
}

.col-1-12{
  width: 90px;
  }

.col-2-12{
  width: 200px;
  }

.col-3-12{
  width: 310px;
  }

.col-4-12{
 width: 420px;
 }

.col-5-12{
  width: 530px;
  }

.col-6-12{
  width: 640px;
  }

.col-7-12{
  width: 750px;
  }

.col-8-12{
  width: 860px;
  }

.col-9-12{
  width: 970px;
  }

.col-10-12{
  width: 1080px;
  }

.col-11-12{
  width: 1190px;
  }

.last {
	margin-right : 0px! important;
}

.pleastrav {
    margin-left : 62px! important;
}

.dessertbooktitle {
   margin-left : -40px! important; 
}

.imgofmyself {
    display : block! important;
    margin : auto! important;
}/*pour placer correctement l'image au centre*/